.container-create-task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 90px);

  .contain-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .title-section {
      margin: 0;
      font-size: 32px;
      font-weight: 700;
      color: var(--ion-color-primary);
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .category {
    .slide {
      width: fit-content !important;
    }

    .category-card {
      width: fit-content;
      background-color: var(--ion-color-light);
      padding: 16px 32px;
      border-radius: 12px;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      cursor: pointer;

      &.selected {
        border: 2px solid var(--ion-color-primary);
      }

      .icon {
        font-size: 40px;
        color: var(--ion-color-secondary);
        font-weight: 400;
      }

      .title {
        margin: 0;
        font-weight: 700;
      }

      .count {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}