/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@font-face {
  font-family: 'Roboto Mono';
  src: url(./assets/fonts/roboto-mono.woff2);
}

* {
  font-family: 'Roboto Mono';
}

.contain-general {
  max-width: 90%;
  margin: 40px auto 0;
}

.input-style {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 0 16px;
  --padding-start: 12px;
  --padding-end: 12px;

  .input-wrapper {
    padding: 0 16px;
    --padding-start: 16px;
    --padding-end: 16px;
  }
}

.label-style {
  color: var(--ion-color-primary);
  font-weight: 600;
  font-size: 16px;
}